.legoHeader {
  background-color: gold;
}

.HomeHeader {
  background-color: white;
}

.v-application {
  background-color: white !important;
}

.legoLogo {
  width: 5%;
  height: auto;
}

.HamburgerItems {
  color: gray;
}